<h1>Log in</h1>

<div>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div>
      <%= f.label :name, "name" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :password, "password" %>
      <%= f.password_field :password %>
    </div>
    
    <%= f.submit "ログイン" %>
  <% end %>
</div>

<p>New User? <%= link_to "Sign up now", signup_path %></p>